$type-14: ( 
  null: ( 14px, $baseline-x3 ),
  sm  : ( 16px, $baseline-x3 )
);

$type-16: ( 
  null: ( 16px, $baseline-x3 ),
  sm  : ( 18px, $baseline-x3 )
);

$type-18: (
  null: ( 18px, $baseline-x3 ),
  sm  : ( 20px, $baseline-x4 )
);

$type-22: (
  null: ( 22px, $baseline-x4 ),
  sm: ( 18px, $baseline-x3 ),
);

$type-24: ( 24px, $baseline-x4 );

$type-28: (
  null: ( 28px, $baseline-x4 ),
  sm: ( 30px, $baseline-x5 ),
);

$type-35: (
  null: ( 25px, $baseline-x5 ),
  sm  : ( 35px, $baseline-x5 )
);