html{
 background: $background-base;   
}

.u-f{
width: 100%;
}

.u-w-f2{
 font-family: $f2;   
}


.u-w-f3{
 font-family: $f3;   
}

 span.c-field{
 
    &:before{
    border-left: 1px solid #ddd;
    content: "";
    margin-left: 10px;
    padding-left: 10px;    
    }
    
 }

hr {
    background-color: #dbdbdb;
    border: none;
    display: block;
    height: 1px;
    margin: 1.5rem 0;

    &.u-light{
    background-color: #ffeeee;    
    }

}

input, textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    box-shadow: none;
    max-width: 100%;
    width: 100%;
    
    &:focus{
    outline: none;    
    }
}

textarea{
    height: $baseline-x9;
    padding-top: $baseline-x3;
    max-width: 100%;
    min-height: 100px;  
}


.logo-stamp{
     text-align: center;
    height: 108px;
    width: 108px;
    background: #ffffff;
    margin: auto;
    border: 6px solid #ebebeb;
    border-radius: 50%;   

}

    svg{

        &.stamp{
        fill: #ebebeb;     
        width: 20px;
        height: 15px;
        top: 16px;
        position: relative;
        overflow: visible;
        display: inline-block;
        text-align: center;   
        }
    }