
html{
    font-size: 14px;
}
body {
font-family: "Gotham Rounded SSm A", "Gotham Rounded SSm B";
font-style: normal;
font-weight: 500;
  
//   @include iota-type($type-20);
     color: $color-black;
} 

/* CDN fonts */
// @font-face {
//   font-family: 'gothamrnd-bold';
//   src: url('https://cdn.rawgit.com/leotheloser/changus/1b76d2e3/gothamrnd-bold.woff') format('woff'), url('https://cdn.rawgit.com/leotheloser/changus/1b76d2e3/gothamrnd-bold.ttf') format('ttf');
// }

// @font-face {
//   font-family: 'gothamrnd-book';
//   src: url('https://cdn.rawgit.com/leotheloser/changus/1b76d2e3/gothamrnd-book.woff') format('woff'), url('https://cdn.rawgit.com/leotheloser/changus/1b76d2e3/gothamrnd-book.woff') format('ttf');
// }

// @font-face {
//   font-family: 'gothamrnd-medium';
//   src: url('https://cdn.rawgit.com/leotheloser/changus/1b76d2e3/gothamrnd-medium.woff') format('woff'), url('https://cdn.rawgit.com/leotheloser/changus/1b76d2e3/gothamrnd-bold.medium') format('ttf');
// }

// @font-face {
//   font-family: 'gothamrnd-light';
//   src: url('https://cdn.rawgit.com/leotheloser/changus/1b76d2e3/gothamrnd-light.woff') format('woff'), url('https://cdn.rawgit.com/leotheloser/changus/1b76d2e3/gothamrnd-light.woff') format('ttf');
// }

a { 
  text-decoration: none;
  color: inherit;
  transition: color 100ms 0s ease;   
  cursor: pointer;
}

span{
     font-family: $f1;
     font-size: 16px;
     font-weight: 500;
     
}

.u-light{
  font-weight: 400;
}

p{
  font-size: 13px;
  font-weight: 400;
  line-height: 20px; 
}

.article-content{

 p{
  color: $color-grey;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;

//   &:first-child::first-letter {
//     color: $color-black;
//     font-size: 60px;
//     font-family: $f3;
//     margin: 16px 8px 0 -4px;
//     vertical-align: top;
//     float: left;
// }
}

 h4{
 color: $color-black;  
 font-size: 28px; 
 line-height: 28px;
}

}

input,textarea{
 font-family: $f1;
 font-weight: 500;   
}

h1{
  font-size: 34px;
  font-family: $f1;
  font-weight: 500; 
}

h2 {
  font-family: $f1;
  font-weight: normal;
  @include iota-type(
    (
      null : (24px, 24px),
      sm   : (16px, 20px)
    )
  );
}



h4{
font-weight: 500;
}