    $iota-components-button-padding     : (
    null  : 22px 10px,
    sm    : 22px 40px,
    md    : 22px 60px
    );

    $button-c-primary : $button-color-primary;
    $button-c-secondary : $button-color-secondary;
    $button-c-ghost: $button-color-ghost;

    .c-button{
    padding: 20px 24px;
    line-height: 0;
    color: $color-black;
    background: transparent;
    border: 2px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    height: 2.25em;
    font-size: 1rem;
    display: inline-block;


    &.c-button-block{
      width: 100%;
    } 
    
    &.c-button-medium{
    font-size: 14px;
    padding: 25px 18px;
    }

    &.c-button-large{
    font-size: 16px;
    padding: 29px 40px;
    }    

    &:hover{
      background: $button-color;
      border: 2px solid $button-color;
      color:  $color-black; 
    }

    &.c-button-ghost{
      background: transparent;
      border: 2px solid $button-color-ghost;
      color: $button-text-ghost;  
    }

    &.c-button-ghost-primary{
      background: transparent;
      border: 2px solid $button-color-ghost;
      color: $color-black;
      
      &:hover{
      background: $button-c-primary;
      border: 2px solid $button-c-primary;  
      color: $color-white;  
    }
      
    }

    &.c-active{
    background: $button-c-primary;
    border: 2px solid $button-c-primary;
    color: $color-white;        
    }

    }

    .c-button-primary{
    background: $button-c-primary;
    border: 2px solid #5fcf80;
    color: $color-white;
    
    &:hover{
    background: darken($button-c-primary, 10%);
    border: 2px solid darken($button-c-primary, 10%);  
    color: $color-white;
    }

    &.c-ghost{
    background: transparent;
    border: 2px solid $button-c-primary;
    color: $button-c-primary;  
    
    &:hover{
    background: $button-c-primary;
    border: 2px solid $button-c-primary;  
    color: $color-white;  
    } 
    }

    }

    

    .c-button-secondary{
    background: $button-c-secondary;
    border: 2px solid $button-c-secondary;
    color: $color-white;
    
    &:hover{
    background: darken($button-c-secondary, 10%);
    border: 2px solid darken($button-c-secondary, 10%);
    color: $color-white;    
    } 

    &.c-button-ghost{
    background: transparent;
    border: 2px solid $button-c-secondary;  
    color: $button-c-secondary;

    &:hover{
    background: $button-c-secondary;
    border: 2px solid $button-c-secondary;  
    color: $color-white;  
    } 
    }

    &.c-active{
    background: $button-c-secondary;
    border: 2px solid $button-c-secondary;
    color: $color-white;        
    }

    } 

    .c-button-find{
    background-color: rgb(62, 71, 79);
    border: 2px solid rgb(62, 71, 79);
     color: $color-white;  

     &:hover{
      background-color: #fff;
      border: 2px solid #fff;
      color: $color-black; 
     }
    }


        .c-button-tag{
    color: $button-text-ghost; 
    border: 2px solid #eaedee;
    border-radius: 5px;
    padding: 24px 22px;  
    }

        button ,input[type="submit"],
        button ,input[type="reset"],
        button ,input[type="button"] {
        height: 2.25em;
        padding: 26px 18px;
        font-family: inherit;
        line-height: 0;
        color: $color-black;
        background: transparent;
        border-radius: 3px;
        box-shadow: none;
        border: none;
        cursor: pointer;

        &:hover{
        background: $button-color;    
        
        }
        &:focus{
        outline: none;
        color: $color-white;
        background: $color-green;       
        }
        
        
}
 
