$card-component-padding-default  : 40px 40px;
$card-component-padding-at-sm : 20px 20px;

$iota-components-card-color             : $color-black;
$iota-components-card-background        : $color-white;


.c-card{
    padding: $card-component-padding-default;
    // box-shadow: 0px 2px 0px 0px rgba(39,44,49,.1), 0 3px 16px rgba(39,44,49,.07);
      box-shadow: 0px 2px 0px 0px rgba(39, 44, 49, 0.07), 0 3px 16px rgba(39,44,49,.07); 
    background: $iota-components-card-background;

    @include iota-breakpoint(xs) {
    padding: $card-component-padding-at-sm;
  }
  &.u-faded{
  box-shadow: 0px 2px 0px 0px rgba(39, 44, 49, 0.07), 0 3px 16px rgba(39,44,49,.07); 
  }
}