
.c-overlay-top{

        &:before{
        content: "";
        opacity: 0.5;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: -webkit-linear-gradient(left, #0B1523, #0b1523 40%, rgba(11,21,35,0));
        background-image: linear-gradient(to right, #0B1523, #0b1523 40%, rgba(11,21,35,0));
        z-index: 0;   
        }    
}
.c-overlay-bottom{
        &:after {
        content: "";
        z-index: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: -webkit-linear-gradient(rgba(12,23,36,0), rgba(12,23,36,0) 60%, #0C1724);
        background-image: linear-gradient(rgba(12,23,36,0), rgba(12,23,36,0) 60%, #0C1724);
        }
}


.c-overlay-round{
    &:before{
    content: "";
    border-radius: 3px;     
    }
    &:after {
    content: "";
    border-radius: 3px; 
    }
}


    .c-overlay{

        &:before{
        content: "";
        opacity: 0.5;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: -webkit-linear-gradient(left, #0B1523, #0b1523 40%, rgba(11,21,35,0));
        background-image: linear-gradient(to right, #0B1523, #0b1523 40%, rgba(11,21,35,0));
        z-index: 0;   
        }

        &:after {
        content: "";
        z-index: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: -webkit-linear-gradient(rgba(12,23,36,0), rgba(12,23,36,0) 60%, #0C1724);
        background-image: linear-gradient(rgba(12,23,36,0), rgba(12,23,36,0) 60%, #0C1724);
        }

        &.c-overlay-card{
            &:before{
            content: "";
            border-radius: 3px;     
            }
            &:after {
            content: "";
            border-radius: 3px; 
            }
        }
       &.c-overlay-card-side{
        &:before{
        content: "";
        border-radius: 5px 0px 0px 5px ;     
        }
        &:after {
        content: "";
        border-radius: 5px 0px 0px 5px ; 
        }
    }
    }

    .c-cover{
    padding: 8% 0px;
    padding-bottom: 10%;
    z-index: 0;
    height: auto;
    background: #384047 url('../images/cover.jpg');
    background-size: cover;
    background-position: center 72%;   

    }

    .c-cover-heading{
     z-index: 100; 
     position: relative;
     line-height: 1.125;
     
     h1{
     color: $color-white;    
     }
     p{
     color: $color-white;
     font-size: 20px;
     line-height: 30px;   
     }

    hr{
    background-color: rgba(255,255,255,0.1);
    margin: 25px 0;
    border: none;
    display: block;
    height: 1px;
    width: 400px;    

      @include iota-breakpoint(sm) {
      width: 100%;  
    }
    }
    }



.c-cover-card{
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 8% 0px;
    padding-bottom: 10%;
    background-size: cover;   

}
.c-cover-card-small{
    height: 190px;
}

.c-cover-card-medium{
    height: 260px;
}

.c-cover-card-large{
    height: 360px;
}

.c-cover-card-huge{
    height: 480px;
}

.c-cover-card-listing-x1{
    height: 320px;
}

.c-cover-card-listing-x2{
    height: 580px;
}

.c-cover-card-side{
    height: 460px;
}

.c-cover-card-large-post {
    height: 500px;
    margin: 0 -6vw 0;
    background: $bg-color-white-light 50%;
    background-size: cover;
    border-radius: 3px;

    @include iota-breakpoint(sm){
    margin: 0 -4vw 0;
    border-radius: 0;
    }

}

    .c-cover-card-text{
    position: absolute;
    bottom: 0;
    padding-right: 21px;    
    }

    .c-cover-card-text-right{
    position: absolute;
    bottom: 0;
    right: 0;
    }