
.c-list-article {
       li.o-list__item{
        margin-bottom: $baseline-x3;
        @include iota-type($type-16);
        font-family: $f2;
        color: $color-grey;

        // &:before {
        //     content: "■";
        //     color: $color-grey;
        //     display: inline-block;
        //     width: 1em;
        //     margin-right: $baseline-x2;
        // }
        &:before{
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 3px;
        display: inline-block;
        margin-right: $baseline-x2;
        background: $color-grey;
        top: -4px;
        position: relative;

        }   
    } 
}




ul a.c-slide{
position: relative;
//   display: inline-block;
  padding: 0 $baseline;

//    &:not(:last-child) {
//     padding-left: $baseline;
//     }
}


ul a.c-slide::after {
content: "";
background: $color-green-light;
height: 4px;
position: absolute;
// bottom: 43px;
transition: .16s all 0.025s;
top: 43px;
}

ul a.c-slide::after {
  left: 100%;
  right: 0;
}
ul a.c-slide:hover ~ a::after {
  left: 0;
  right: 100%;
}

ul a.c-slide:hover::after {
  left: 0;
  right: 0;
}







.c-list-h{
   background: $color-white;
// box-shadow: 0px 2px 0px 0px rgba(39, 44, 49, 0.07), 0 3px 16px rgba(39, 44, 49, 0.07);
   display: flex;

   a{
    color : $color-grey;
    font-size: 13px;   

    li.o-list__item{
        &:hover{
         background: $bg-color-grey-light; 
        }   
    }

    &.o-active{
    color : $color-white;
    li.o-list__item{
    background: $color-green-light;    
    }
   }

   li.o-list__item{
   display: inline-block;
   vertical-align: top;
   padding: $baseline-x3;
   background: $color-white;
   text-align: center;
   margin-right: 0px;
   
//    &:not(:last-child) {
//     margin-right: $baseline;
//    } 

   i{
    display: block;   
    text-align: center;
   }
    
   }

   }

}

.c-list-v{
    display: block;

   
    a{
    color : $color-grey;
    font-size: 13px;   

    li.o-list__item{
    display: block;
        &:hover{
         background: $bg-color-grey-light; 
        }   
    }

    &.o-active{
    color : $color-white;
    li.o-list__item{
    background: $color-green-light;    
    }
   }

   li.o-list__item{
   display: flex;
   padding: $baseline-x3;
   background: $color-white;
   line-height: 26px;
        i{
            padding-right: 10px;
        }
    }
   }

}
    
.c-list-v-x1{
    display: block;

   
    a{
    color : $color-grey;
    font-size: 14px;   

    &:hover{
       
        color: #676767;    
            
    }

    li.o-list__item{
    display: block;
        &:hover{
         background: #f2f0f0;
        // background: #f1efef;
        border-radius: 3px;
     
        }   
    }

    &.o-active{
    color : $color-white;
    li.o-list__item{
    background: $color-green-light;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;    
    }
   }

   li.o-list__item{
   display: flex;
   padding: $baseline-x3;
   line-height: 26px;
   margin-bottom: 10px;
        i{
            padding-right: 10px;
        }
    }
   }

}