
$c-navbar-primary : $bg-primary;
$c-navbar-secondary : $bg-secondary;

    .c-navbar{

            a{
            letter-spacing: .1px;
            font-weight: 400;
            font-size: 14px;
            transition: color 200ms 0s ease;  
            color: rgba(255, 255, 255, 0.55);

            &:hover{
            color: rgba(255, 255, 255, 1);   
            }

            &.line{
                 
            }
        }

        &.primary{
        background: $c-navbar-primary;
        box-shadow: none;
        border: none;

         a{
          color: rgba(255, 255, 255, 0.55);  
          &:hover{
          color: rgba(255, 255, 255, 1);     
          }   
         }

        }

        &.secondary{
        background: $c-navbar-secondary;
        // box-shadow: 0 0 1px rgba(0,65,94,0.2);
        // border-bottom: 1px solid #f2f2f2; 
          .o-type-logo{
 
          color : $color-green;    
          }  

         a{
        //   color: rgb(87, 99, 102);
          color : rgb(123, 139, 142);
          font-size: 14px;  
          &:hover{
        //   color: rgb(52, 59, 61);   
          color: rgb(75, 86, 88);  
          }   
         }   
        
        span.c-divider{

        &:before{
        border-left: 1px solid rgb(236, 236, 236);  
        content: "";
        height: 34px;
        margin-left: 14px;
        padding-left: 6px;
        padding-top: 7px;
        padding-bottom: 7px;
        }
        
        }

    }

   
                
            li.c-nav-item{
            display: inline-block;
            // margin-right: 10px;
            // & > :not(:last-child){
            // margin-right: 10px;   
            // }
            @include iota-breakpoint(sm) {
            display: block;
            }

            &.o-list__item:not(:last-child) {
            margin-right: 14px;
            }
            }

    
    .logo-svg {
    width: 7px;
    top: -12px;
    position: relative;
    overflow: visible;
    display: inline-block;
    fill: hsla(138, 54%, 67%, 1);    
    }

     span.c-divider{

    &:before{
    border-left: 1px solid #ddd;
    border-left: 2px solid rgba(255,255,255,0.1);  
    content: "";
    height: 34px;
    margin-left: 14px;
    padding-left: 6px;
    padding-top: 7px;
    padding-bottom: 7px;
    }
    
 }

}